ion-grid {
  padding: 0px !important;
  ion-row {
    ion-col {
      padding: 0px;
    }
  }
}
.hero {
  background: url("https://www.aviatur.com/version/1615922117/assets/aviatur_assets/img/promo/box/aruba-felicidad-extendida_63001.jpeg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.title {
  font-size: 3.75rem;
  line-height: 1;
  color: #000;
  padding: 30px;
  text-align: left;
}
.sec-feat {
  margin-top: 2.75rem;
  .sec-features {
    p {
      font-size: 20px;
      color: #000;
      font-weight: 200;
      padding-left: 20px;
      padding-right: 30px;
    }
  }
}

.subtitle {
  margin-top: 2rem;
  text-align: justify;
  color: #000;
  font-weight: 300;
  padding-left: 20px;
  line-height: 45px;
  padding-right: 30px;
  font-size: 2rem;
}
ion-button {
  width: 40%;
  height: 45px;
  margin: 20px;
}
