<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <h1 class="title">Aviatur</h1>
        <ion-row class="sec-feat">
          <ion-col size="12" size-lg="4" class="sec-features">
            <p>Paquetes</p>
          </ion-col>
          <ion-col size="12" size-lg="4" class="sec-features">
            <p>Vuelos</p>
          </ion-col>
          <ion-col size="12" size-lg="4" class="sec-features">
            <p>Hoteles</p>
          </ion-col>
        </ion-row>
        <ion-row class="sec-feat">
          <ion-col size="12" size-lg="4" class="sec-features">
            <p>Buses</p>
          </ion-col>
          <ion-col size="12" size-lg="4" class="sec-features">
            <p>Premios</p>
          </ion-col>
          <ion-col size="12" size-lg="4" class="sec-features">
            <p>Hoteles</p>
          </ion-col>
        </ion-row>
        <p class="subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, deleniti
          quos. Neque rem sint officiis adipisci placeat. Corporis placeat
          nulla, voluptate ullam eaque cum nobis maxime porro soluta dolor
          natus?
        </p>
        <ion-button color="primary" shape="rounded" routerLink="/search">Leer más</ion-button>
      </ion-col>
      <ion-col size="12" size-lg="6" size-md="6">
        <div class="hero"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
