/* VARIABLES */
.header-collapse-condense{
  display: block !important;
}
.app-menu {
  background: #1237c9;
  width: 100%;
  height: 60px;
  padding: 5px;
  .logo {
    width: 50%;
    display: block;
    margin: 0px auto;
  }
}

/* SECTION FILTERS */
#sec-filters {
  background: #fff;
  height: auto;
  .heading-filter {
    padding-top: 0px;
    .title {
      margin-left: 20px;
      font-size: 25px;
      font-weight: bold;
      margin-top: 0px;
    }
    .icon-filter {
      float: right;
      font-size: 31px;
      margin-right: 20px;
    }
  }
  .sec-filter-name {
    ion-icon {
      font-size: 20px;
      float: right;
      margin-top: 4px;
    }
    .heading {
      text-align: left;
      color: #000;
      font-size: 20px;
      font-weight: 300;
    }
    .heading-subtitle-star {
      padding-left: 20px;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .sec-filter-search {
    ion-icon {
      font-size: 20px;
      float: right;
      margin-top: 13px;
    }
  }
}
ion-checkbox {
  position: absolute;
  left: 20px;
}
/* SECTION CARDS  */
#sec-information {
  .data-img {
    width: 100%;
    border-radius: 10px;
  }
  .star {
    color: rgb(255, 255, 134);
  }
  .data-title {
    font-size: 26px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .data-heading {
    text-align: center;
    color: gray;
    font-size: 20px;
  }
  .data-heading-price-name {
    color: #ff7a64;
    text-align: center;
    font-weight: 200;
    font-size: 30px;
  }
  .data-heading-price {
    color: #ff7a64;
    text-align: center;
    font-weight: bold;
  }
  .sec-btn {
    display: flex;
    justify-content: center;
    ion-button {
      width: 80%;
      --background: #1237c9;
      color: #fff;
    }
  }
  .sec-amenities {
    display: block;
    margin: 0px auto;
    ion-icon {
      font-size: 25px;
      margin-top: 10px;
    }
  }
  /* END SECTION CARDS*/
}
/* MEDIAQUERYS FOR MOBILE */
@media only screen and (min-width: 320px) and (max-height: 823px) {
  .app-menu {
    .logo {
      width: 50%;
      display: block;
      margin: 10px auto;
      float: none;
    }
  }
}
/* MEDIAQUERYS FOR MOBILE */
/* MEDIAQUERYS FOR SURFACE DUO */
@media only screen and (min-width: 540px) and (max-height: 720px) {
  .app-menu {
    .logo {
      width: 8%;
      float: left;
      margin: 15px;
    }
  }
}
/* MEDIAQUERYS FOR SURFACE DUO */
/* MEDIAQUERYS FOR IPADS */
@media only screen and (min-width: 768px) and (max-height: 1024px) {
  #sec-filters {
    .heading-filter {
      padding-top: 30px;
    }
  }
  .app-menu {
    .logo {
      width: 8%;
      float: left;
      margin: 15px;
    }
  }
}
/* MEDIAQUERYS FOR IPADS */
/* MEDIAQUERYS FOR DESKTOP */
@media only screen and (min-width: 1024px) and (max-height: 1366px) {
  .app-menu {
    .logo {
      width: 8%;
      float: left;
      margin: 15px;
    }
  }
  #sec-filters {
    .heading-filter {
      padding-top: 30px;
      .icon-filter {
        margin-right: 30px;
      }
    }
  }
}
/* MEDIAQUERYS FOR DESKTOP */
/* SECTION FILTERS */
