<ion-content color="light">
  <div class="app-menu">
    <img src="assets/images/logo-aviatur.svg" alt="img" class="logo">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" size-md="12" size-lg="12">
        <ion-row>
          <ion-col
            size="12"
            size-lg="4"
            size-sm="12"
            size-md="12"
            id="sec-filters"
          >
            <ion-row class="heading-filter">
              <ion-col size="9">
                <p class="title">Filtros</p>
              </ion-col>
              <ion-col size="3">
                <ion-icon
                  name="filter-outline"
                  class="icon-filter"
                  (click)="showFilters()"
                ></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="sec-filter-name" [hidden]="show">
              <ion-col size="3">
                <ion-icon src="assets/icons/filters/search.svg"></ion-icon>
              </ion-col>
              <ion-col size="9">
                <p class="heading">Nombre del hotel</p>
              </ion-col>
              <ion-col size="12" class="sec-filter-search">
                <ion-searchbar mode="ios" placeholder="Hotel" animated="true" (ionInput)="search($event)"></ion-searchbar>
              </ion-col>
              <ion-col size="12"
                ><ion-icon
                  name="star"
                  slot="start"
                  class="star-ic-filter"
                ></ion-icon
                ><span class="heading-subtitle-star">Estrellas</span></ion-col
              >
              <ion-col size="12">
                <ion-list>
                  <ion-item lines="none">
                    <ion-label>1</ion-label>
                    <ion-checkbox slot="end" color="primary"></ion-checkbox>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>2</ion-label>
                    <ion-checkbox slot="end" color="primary"></ion-checkbox>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>3</ion-label>
                    <ion-checkbox slot="end" color="primary"></ion-checkbox>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>4</ion-label>
                    <ion-checkbox slot="end" color="primary"></ion-checkbox>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>5</ion-label>
                    <ion-checkbox slot="end" color="primary"></ion-checkbox>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col
            size="12"
            size-lg="8"
            size-sm="12"
            size-md="12"
            id="sec-information"
          >
            <ion-card *ngFor="let items of isItemAvailable" mode="ios">
              <ion-card-content>
                <ion-row>
                  <ion-col size="12" size-lg="5" size-sm="12" size-md="12">
                    <img [src]="items.image" alt="img" class="data-img" />
                  </ion-col>
                  <ion-col size="12" size-lg="3" size-sm="12" size-md="12">
                    <ion-row>
                      <ion-card-title class="data-title"
                        >{{ items.name }}</ion-card-title
                      >
                      <ion-col size="12">
                        <rating
                          id="rating"
                          [rate]="items.stars"
                          size="small"
                          fontSize="15px"
                        >
                        </rating>
                      </ion-col>
                      <ion-row class="sec-amenities">
                        <ion-col
                          *ngFor="let ame of items.amenities; let i = index"
                          ><ion-icon [src]="ame"></ion-icon
                        ></ion-col>
                      </ion-row>
                    </ion-row>
                  </ion-col>
                  <ion-col size="12" size-lg="4" size-sm="12" size-md="12">
                    <p class="data-heading">Precio por noche por habitación</p>
                    <p class="data-heading-price-name">
                      ARS
                      <span class="data-heading-price">{{ items.price }}</span>
                    </p>

                    <div class="sec-btn">
                      <ion-button shape="rounded">Ver Hotel</ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
